<ion-view view-title="Neemaa">
  <ion-content class="content-app">
    <h4 class="white-text">Admin</h4>

  </ion-content>

  <div class="bar bar-footer">
    <a class="button button-icon ion-person-stalker icons-admin" >NeemStyler</a>
    <a class="button button-icon ion-card icons-admin" >Payment</a>
    <a class="button button-icon ion-arrow-shrink icons-admin" >Service</a>
    <a class="button button-icon ion-calendar icons-admin" >Calendrier</a>
    <a class="button button-icon ion-ios-star icons-admin" >Avis</a><span></span>
  </div>
</ion-view>
