<ion-view view-title="Neemaa">
  <ion-content class="content-app">
    <div id="chargAgenda" data-ng-if="chargAgenda()">
      <div class="row" layout-align="center center">
        <img class="chargement" src="img/chargement.gif">
      </div>
    </div>
    <div data-ng-if="agendaPageConfig()">
      <div class="row text-center">
        <div class="col">
          <h4 class="white-text">Mes Horraire Ouverture</h4>
        </div>
      </div>
      <div class="row">
        <p id="white">Configuration des horraires d'ouverture de l'entreprise</p>
      </div>
      <div>
        <table>
          <tr>
            <td></td>
            <td class="time-agenda">Matin</td>
            <td class="time-agenda">Après-Midi</td>
            <td class="time-agenda test">Férmer</td>
          </tr>
          <tr class="day-agenda">
            <td class="date">Lundi</td>
            <td  class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.monday.morning">
                <option value="" disabled selected>Matin</option>
                <option>07h</option>
                <option>08h</option>
                <option>09h</option>
                <option>10h</option>
                <option>11h</option>
                <option>12h</option>
              </select></td>
            <td class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.monday.afternoon">
                <option value="" disabled selected>Apres midi</option>
                <option>13h</option>
                <option>14h</option>
                <option>15h</option>
                <option>16h</option>
                <option>17h</option>
                <option>18h</option>
                <option>19h</option>
                <option>20h</option>
              </select>
            </td>
            <td class="time-agenda test">
              <ion-checkbox ng-model="isChecked" class="check-date"></ion-checkbox>
            </td>
          </tr>
          <tr class="day-agenda">
            <td class="date">Mardi</td>
            <td  class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.tuesday.morning">
                <option value="" disabled selected>Matin</option>
                <option>07h</option>
                <option>08h</option>
                <option>09h</option>
                <option>10h</option>
                <option>11h</option>
                <option>12h</option>
              </select></td>
            <td class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.tuesday.afternoon">
                <option value="" disabled selected>Apres midi</option>
                <option>13h</option>
                <option>14h</option>
                <option>15h</option>
                <option>16h</option>
                <option>17h</option>
                <option>18h</option>
                <option>19h</option>
                <option>20h</option>
              </select>
            </td>
            <td class="time-agenda test">
              <ion-checkbox ng-model="isChecked" class="check-date"></ion-checkbox>
            </td>
          </tr>
          <tr class="day-agenda">
            <td class="date">Mercredi</td>
            <td  class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.wednesday.morning">
                <option value="" disabled selected>Matin</option>
                <option>07h</option>
                <option>08h</option>
                <option>09h</option>
                <option>10h</option>
                <option>11h</option>
                <option>12h</option>
              </select></td>
            <td class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.wednesday.afternoon">
                <option value="" disabled selected>Apres midi</option>
                <option>13h</option>
                <option>14h</option>
                <option>15h</option>
                <option>16h</option>
                <option>17h</option>
                <option>18h</option>
                <option>19h</option>
                <option>20h</option>
              </select>
            </td>
            <td class="time-agenda test">
              <ion-checkbox ng-model="isChecked" class="check-date"></ion-checkbox>
            </td>
          </tr>
          <tr class="day-agenda">
            <td class="date">Jeudi</td>
            <td  class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.thursday.morning">
                <option value="" disabled selected>Matin</option>
                <option>07h</option>
                <option>08h</option>
                <option>09h</option>
                <option>10h</option>
                <option>11h</option>
                <option>12h</option>
              </select></td>
            <td class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.thursday.afternoon">
                <option value="" disabled selected>Apres midi</option>
                <option>13h</option>
                <option>14h</option>
                <option>15h</option>
                <option>16h</option>
                <option>17h</option>
                <option>18h</option>
                <option>19h</option>
                <option>20h</option>
              </select>
            </td>
            <td class="time-agenda test">
              <ion-checkbox ng-model="isChecked" class="check-date"></ion-checkbox>
            </td>
          </tr>
          <tr class="day-agenda">
            <td class="date">Vendredi</td>
            <td  class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.friday.morning">
                <option value="" disabled selected>Matin</option>
                <option>07h</option>
                <option>08h</option>
                <option>09h</option>
                <option>10h</option>
                <option>11h</option>
                <option>12h</option>
              </select></td>
            <td class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.friday.afternoon">
                <option value="" disabled selected>Apres midi</option>
                <option>13h</option>
                <option>14h</option>
                <option>15h</option>
                <option>16h</option>
                <option>17h</option>
                <option>18h</option>
                <option>19h</option>
                <option>20h</option>
              </select>
            </td>
            <td class="time-agenda test">
              <ion-checkbox ng-model="isChecked" class="check-date"></ion-checkbox>
            </td>
          </tr>
          <tr class="day-agenda">
            <td class="date">Samedi</td>
            <td  class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.saturday.morning">
                <option value="" disabled selected>Matin</option>
                <option>07h</option>
                <option>08h</option>
                <option>09h</option>
                <option>10h</option>
                <option>11h</option>
                <option>12h</option>
              </select></td>
            <td class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.saturday.afternoon">
                <option value="" disabled selected>Apres midi</option>
                <option>13h</option>
                <option>14h</option>
                <option>15h</option>
                <option>16h</option>
                <option>17h</option>
                <option>18h</option>
                <option>19h</option>
                <option>20h</option>
              </select>
            </td>
            <td class="time-agenda test">
              <ion-checkbox ng-model="isChecked" class="check-date"></ion-checkbox>
            </td>
          </tr>
          <tr class="day-agenda">
            <td class="date">Dimanche</td>
            <td  class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.sunday.morning">
                <option value="" disabled selected>Matin</option>
                <option>07h</option>
                <option>08h</option>
                <option>09h</option>
                <option>10h</option>
                <option>11h</option>
                <option>12h</option>
              </select></td>
            <td class="time-agenda">
              <select data-ng-model="schedulesNeemStyler.sunday.afternoon">
                <option value="" disabled selected>Apres midi</option>
                <option>13h</option>
                <option>14h</option>
                <option>15h</option>
                <option>16h</option>
                <option>17h</option>
                <option>18h</option>
                <option>19h</option>
                <option>20h</option>
              </select>
            </td>
            <td class="time-agenda test">
              <ion-checkbox ng-model="isChecked" class="check-date"></ion-checkbox>
            </td>
          </tr>
        </table>
      </div>
      <div id="button-ouve">
        <button class="button-ouverture" data-ng-click="schedulesNeemStylerSave(schedulesNeemStyler)">Validation</button>
      </div>
    </div>
    <div data-ng-if="agendaPage()">
      <button id="button-agenda-rdv" data-ng-click="agendaPlusAddEventNeem()"><i class="ion-plus-round"></i></button>
      <h4 class="white-text"><i class="ion-calendar"></i> Agenda</h4>
      <calendar calendar-mode="mode" event-source="eventSource" time-selected="onTimeSelected(selectedTime)"></calendar>
      <div class="row">
        <ul>
          <li class="agenda-date">Jeudi 4 semp 2000 :</li>
          <li class="info-agenda">  M.dupont</li>
          <li class="info-agenda">  Service</li>
          <li class="info-agenda">  8h à 11h</li>
        </ul>
      </div>
    </div>
    <div class="row" id="rdv" data-ng-if="addEventModal" style="top: 20%;">
      <div id="rdv-cont">
        <span class="rdv-conte">Ajouter rendez-vous :</span>
        <input class="rdv-conte" type="text" placeholder="Titre" data-ng-model="agendaPageAddEvent.title">
        <input class="rdv-conte" type="date" placeholder="Date" data-ng-model="agendaPageAddEvent.date">
        <span class="rdv-conte">De </span>
        <input class="rdv-conte" type="time" placeholder="rdv-conte" data-ng-model="agendaPageAddEvent.begin">
        <span class="rdv-conte"> à </span>
        <input class="rdv-conte" type="time" placeholder="time" data-ng-model="agendaPageAddEvent.finish">
      </div>
      <div>
        <button class="button-rdv" data-ng-click="agendaPageAddEventConfirm(agendaPageAddEvent)">Valider</button>
        <button class="button-rdv" data-ng-click="agendaReturnAddEventNeem()">Retour</button>
      </div>
    </div>
    <div data-ng-if="agendaPageWeek()">
      Week page
    </div>
  </ion-content>

  <div class="bar bar-footer test">
    <a id="book" class="button button-icon icon ion-ios-bookmarks customIconSound" data-ng-click="agendaPageConfigSelected()" data-ng-if="!chargAgenda()"></a>
    <a id="calandar" class="button button-icon icon ion-calendar" data-ng-click="agendaPageSelected()" data-ng-if="!chargAgenda()"></a>
<!--    <button class="button-agenda" data-ng-click="agendaPageWeekSelected()" data-ng-if="!chargAgenda()">Ma Semaine</button>-->
  </div>
</ion-view>
