<ion-view view-title="Neemaa">
  <ion-content class="content-app">
    <p class="white-text">NeemStyler disponible selon ta localisation</p><p class="text-center white-text">{{listNeemstyler.cp}}</p>

    <ion-list>
      <ion-item class="list-item" data-ng-repeat="list in listNeemstyler">
        <div class="row" data-ng-click="neemStylerSelected(list.society)">
          <div class="col text-left">
            <div class="row">
              <span class="list-name-item pad size-list-neem">{{list.society}}</span>
            </div>
            <div class="row white-text pad">
              <span class="pad size-list-neem">Service: N/A</span>
            </div>
            <div class="row white-text">
              <span class="size-list-neem"><i class="ion ion-star"></i><i class="ion ion-star"></i><i class="ion ion-star"></i><i class="ion ion-star"></i><i class="ion ion-star"></i> 25 avis</span>
            </div>
          </div>
          <div class="col white-text text-right" id="fleche">
            >
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-footer-list-neemstyler">

  </div>
</ion-view>
