<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-buttons side="right">
        <!-- Toggle right side menu -->
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable" align-title="center">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.login" data-ng-if="ifAuth()">
          <i class="ion-log-in"></i> Login
        </ion-item>
        <ion-item menu-close ui-sref="app.register" data-ng-if="ifAuth()">
          <i class="ion-edit"></i> Register
        </ion-item>
        <ion-item menu-close ui-sref="app.search" data-ng-if="!ifAuth()">
          <i class="icon ion-search"></i> Search
        </ion-item>
        <ion-item menu-close ui-sref="app.profil" data-ng-if="ifUser()">
          <i class="icon ion-person"></i> Profil
        </ion-item>
        <ion-item menu-close ui-sref="app.profilNeemStyler" data-ng-if="ifNeemStyler()">
          <i class="icon ion-person"></i> Profil
        </ion-item>
        <ion-item menu-close ui-sref="app.calendarNeemStyler" data-ng-if="ifNeemStyler()">
          <i class="ion-calendar"></i> Agenda
        </ion-item>
        <ion-item menu-close data-ng-if="ifUser()||ifAdmin()||ifNeemStyler()" data-ng-click="logout()">
          <i class="ion-log-out"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
