<ion-view view-title="Neemaa">
  <ion-content class="content-app">
    <div class="chargUser" data-ng-if="showLoadingPanelUser()">
      <div class="row" layout-align="center center">
        <img class="chargement" src="img/chargement.gif">
      </div>
    </div>
    <div class="list">
      <div class="row">
        <div class="col">
          <div class="row">
             <div class="col text-center">
              <img src="{{ userProfilePicture }}" style="width: 100%; border-radius: 50%">
              <a ngf-select="uploadProfilePictureUser($file)">Editer</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ion-list>
                <ion-checkbox class="home-checkbox" data-ng-checked="isCheckedFemale()" data-ng-model="updateProfilUserN.sex.f" data-ng-click="profilUserCheckboxFemale()">Femme</ion-checkbox>
                <ion-checkbox class="home-checkbox" data-ng-checked="isCheckedMale()" data-ng-model="updateProfilUserN.sex.h" data-ng-click="profilUserCheckboxMale()">Homme</ion-checkbox>
              </ion-list>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col profil-col-form">
              <input type="text" data-ng-model="updateProfilUserN.firstname" class="profil-user-form-text" placeholder="Prénom" />
            </div>
          </div>
          <div class="row">
            <div class="col profil-col-form">
              <input type="text" data-ng-model="updateProfilUserN.lastname" class="profil-user-form-text" placeholder="Nom" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" data-ng-model="updateProfilUserN.email" class="profil-user-form-text" placeholder="E-mail" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="tel" data-ng-model="updateProfilUserN.telephone" class="profil-user-form-text" placeholder="Mobile" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" data-ng-model="updateProfilUserN.adress" class="profil-user-form-text" placeholder="Adresse" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" data-ng-model="updateProfilUserN.cp" class="profil-user-form-text" placeholder="Code Postal" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="date" data-ng-model="updateProfilUserN.birthdate" class="profil-user-form-text" placeholder="Date de naissance" /><br>
              <a ui-sref="app.recovery" class="right">Changer de mot de passe</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <select data-ng-model="updateProfilUserN.carnation_type" class="search-select-form">
            <option value="" disabled selected>Type de peau</option>
            <option>Normale</option>
            <option>Sèche</option>
            <option>Mixte</option>
            <option>Grasse</option>
            <option>Grasse à tendance acnéique</option>
            <option>Hyper pigmentée</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <select data-ng-model="updateProfilUserN.carnation_color" id="profil-select-color" class="search-select-form color{{ updateProfilUserN.carnation_color }}">
            <option value="" disabled selected>Carnation</option>
            <option class="color1 search-select-form" value="1">Carnation</option>
            <option class="color2 search-select-form" value="2">Carnation</option>
            <option class="color3 search-select-form" value="3">Carnation</option>
            <option class="color4 search-select-form" value="4">Carnation</option>
            <option class="color5 search-select-form" value="5">Carnation</option>
            <option class="color6 search-select-form" value="6">Carnation</option>
            <option class="color7 search-select-form" value="7">Carnation</option>
            <option class="color8 search-select-form" value="8">Carnation</option>
            <option class="color9 search-select-form" value="9">Carnation</option>
            <option class="color10 search-select-form" value="10">Carnation</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select data-ng-model="updateProfilUserN.hair_type" class="search-select-form">
            <option value="" disabled selected>Type de Cheveux</option>
            <option>Cheveux Raid</option>
            <option>Cheveux Ondulés</option>
            <option>Cheveux Bouclés-Frisé</option>
            <option>Cheveux Crépus</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <select data-ng-model="updateProfilUserN.hair_color" class="search-select-form">
            <option value="" disabled selected>Couleur de Cheveaux</option>
            <option>Noir</option>
            <option>Châtain Foncé</option>
            <option>Châtain Clair</option>
            <option>Blond Foncé</option>
            <option>Blond Clair</option>
            <option>Blond Très Clair</option>
            <option>Roux</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ion-checkbox class="home-checkbox" data-ng-model="updateProfilUserN.neemstyler">Devenir NeemStyler</ion-checkbox>
        </div>
      </div>
    </div>

  </ion-content>

  <div class="bar bar-footer" data-ng-if="!showLoadingPanelUser()">
    <button class="footer-button" data-ng-click="updateProfilUser(updateProfilUserN)">Confirmer</button>
  </div>
</ion-view>
