<ion-view view-title="Neemaa">
  <ion-content class="content-app">
    <h4 class="white-text padding-login"><i class="ion-email"></i> Entrer votre Email:</h4>
    <div class="list">
      <label class="item item-input home-form">
        <input type="email" placeholder="Email" data-ng-model="recoverPassword.email">
      </label>
      <button class="button button-block button-positive" style="background-color: #5c2542;" data-ng-click="recoveryPassword(recoverPassword)">
        Reinitialisé
      </button>
    </div>
  </ion-content>

  <div class="bar bar-footer">
  </div>
</ion-view>
