<ion-view view-title="Neemaa">
  <ion-content class="content-app">
    <h4 class="white-text padding-login"><i class="ion-edit"></i> Créer ton compte:</h4>
    <div class="list">
      <label class="item item-input home-form mar-login">
        <input type="email" placeholder="Email" data-ng-model="registerUser.email">
      </label>
      <label class="item item-input home-form mar-login">
        <input type="password" placeholder="Mot de passe" data-ng-model="registerUser.password">
      </label>
      <label class="item item-input home-form mar-login">
        <input type="password" placeholder="Confirmer mot de passe" data-ng-model="registerUser.password_confirmation">
      </label>
      <label class="item item-input home-form" data-ng-if="ifNeemStyler()">
        <input type="text" placeholder="Societe" data-ng-model="registerUser.society">
      </label>
      <ion-checkbox class="home-checkbox test" data-ng-click="neemStyler()"><span class="span">Je veux m'inscrire en tant que NeemStyler !</span></ion-checkbox>
    </div>
    <div class="white-text padding-login">Déja inscrit, cliquer <a ui-sref="app.login">ICI</a></div>
  </ion-content>

<!--  <div class="bar bar-footer">
    <button class="footer-button" data-ng-click="registerUser(registerUser)">Confirmer</button>
  </div>-->
  <div class="bar bar-footer">
    <button class="footer-button" data-ng-click="registerUser(registerUser)"><span data-ng-show="chargRegister()"><img id="button-register" src="img/gear.gif"></span>Inscription</button>
  </div>
</ion-view>
