/* FONT POLICE */
@import url(https://fonts.googleapis.com/css?family=Philosopher);
@import url(https://fonts.googleapis.com/css?family=Overlock);

/* APP CSS */
a {
  color: #eba8bc !important;
}

.bar-header {
  background-color: white !important;
}

.bar-footer {
  background-color: #b55370 !important;
  height: 12% !important;
  margin-bottom: -10px;
}

.ion-navicon {
  text-align: center !important;
  color: #b55370 !important;
}

.header-item {
  font-family: 'Philosopher', sans-serif;
  font-size: 7vw !important;
  color: #B14967 !important;
  font-weight: bold !important;
}

.back-item {
  font-family: 'Overlock', cursive;
  font-size: 4vw !important;
}

.content-app {
  background-color: #b55370 !important;
  font-family: 'Overlock', cursive;
  padding: 15px;
}

.content-profil-neemstyler {
  background-color: #FFEEED !important;
  font-family: 'Overlock', cursive;
  padding: 15px;
}

.white-text {
  color: white !important;
}

.footer-button {
  margin-right: auto;
  margin-left: auto;
  height: 10%;
  background-color: #5C2542;
  border: none;
  border-radius: 10px;
  padding-left: 25% !important;
  padding-right: 25% !important;
  padding-top: 2% !important;
  padding-bottom: 12%!important;
  font-size: 7vw !important;
  font-weight: bold !important;
  color: white !important;
}

.item-content {
  color: black !important;
}

/* HOMEPAGE CSS */
.home-form {
  margin: 10px;
}

.home-checkbox {
  background-color: transparent !important;
  border: none;
  color: white !important;
}

/* PROFIL USER PAGE CSS */
.profil-user-form-text {
  width: 100% !important;
  padding: 5px !important;
}

.color1 {
  background-color: #fad2d0;
}

.color2 {
  background-color: #f2b8ad;
}

.color3 {
  background-color: #edc192;
}

.color4 {
  background-color: #d9ae7b;
}

.color5 {
  background-color: #c0946f;
}

.color6 {
  background-color: #9c6c44;
}

.color7 {
  background-color: #7F553D;
}

.color8 {
  background-color: #674230;
}

.color9 {
  background-color: #3C1F0F;
}

.color10 {
  background-color: #2E2520;
}

.row {
  padding: 0 !important;
}

.profil-user-select-form {
  width: 100%;
}

/* PROFIL NEEM PAGE CSS */
.profil-neem-form-text {
  width: 100% !important;
  height: 20px !important;
  padding: 5px !important;
}

.footer-button-neemstyler {
  margin-right: auto;
  margin-left: auto;
  height: 10%;
  background-color: #F4B9C9;
  border: none;
  border-radius: 10px;
  padding-left: 25% !important;
  padding-right: 25% !important;
  padding-top: 2% !important;
  padding-bottom: 12%!important;
  font-size: 7vw !important;
  font-weight: bold !important;
  color: white !important;
}

.neem-checkbox {
  background-color: #FFEEED !important;
  border: none;
  color: white !important;
}

.bar-footer-neemstyler {
  background-color: #FFEEED !important;
  height: 12% !important;
}

/* Search CSS */
.search-select-form {
  width: 100%;
  padding: 2%;
}

/* LIST NEEM CSS */
.list-item {
  background-color: #b55370 !important;
  border-left: none;
  border-right: none;
}

.list-name-item {
  color: #EFB0C3 !important;
}

/* NeemStyler Info CSS */
.content-app-neem-info {
  padding: 10% !important;
}

.neem-info-name {
  color: #F3B8C9;
  font-weight: bold;
  font-size: 5vw;
  font-family: Philosopher sans-serif;
}

.span{
  color: #FFEEED;
  font-size: 3.5vw;
}

.padding-login{
  padding-left: 10px;
}
.chargUser {
  background-color: #B55370;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 99;
}

.chargement{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}
@media screen and (device-aspect-ratio: 40/71) {
  .profil-user-form-text{
    height: 25px !important;
  }
  .search-select-form{
    height: 26px;
  }
  .search-select-form {
    padding: 1%;
  }
  #serve-search{
    padding: 10px 0 10px 10px !important;
    height: 45px;
  }
  .img-service{
    width: 55px !important;
    height: 55px !important;
  }

  .date{
    padding-top: 7% !important;
    font-size: 15px !important;
  }

  #button-ouve {
    padding-top: 2% !important;
  }

  .icons-admin {
    margin-top: -3% !important;
  }
  .td {
    padding-left: 10px !important;
    font-size: 17px !important;
  }
  .padtd {
    padding-left: 19% !important;
  }
  .rdv-width {
    width: 80% !important;
  }
}

span{
  color: #FFEEED;
}

#fleche{
  padding: 20px;
  font-size: 40px;
}

.pad{
  padding-bottom: 10px;
}

.size-list-neem{
  font-size: 20px;
}

.bar-footer-list-neemstyler{
  background-color: #b55370 !important;
  height: 30% !important;
}

#serve-search{
  padding: 15px 0 10px 10px;
}

.img-service{
  width: 60px;
  height: 60px;
}

.center-img{
  margin-left: auto !important;
  margin-right: auto !important;
}

#active{
  background-color: green;
}

#desactiver{
  background-color: red;
}

label{
  border: none !important;
}

.mar-login{
  margin-bottom: 10px !important;
}

.event-detail-container {
  display: none;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>thead>tr>th {
  border: none !important;
}

.table-bordered>thead>tr>th{
  border-bottom: 1px solid #FFEEED !important;
}
td{
  color: white;
  font-weight: bold !important;
}

th{
  font-weight: bold !important;
}

.monthview-selected {
  background-color: #FFB6C1 !important;
  color: black !important;
}

.monthview-current {
  background-color: #FFEEED !important;
  color: black !important;
}

#button-agenda-rdv{
  float: right;
  background-color: #5C2542;
  border: none;
  border-radius: 10px;
  color: white;
}

.agenda-date{
  font-size: 20px;
}

.info-agenda{
  padding-left: 10px;
  font-size: 15px;
}

.time-agenda{
  padding-left: 20px;
}

.date{
  font-size: 20px;
  padding-top: 10%;
}

.day-agenda{
  padding-top: 2%;
}

.check-date{
  background-color: #b55370 !important;
  border: none !important;
}

.checkbox .checkbox-icon:before, .checkbox input:before {
  border: none !important;
}

.button-ouverture{
  margin-left: 39%;
  height: 10%;
  background-color: #5C2542;
  border: none;
  border-radius: 10px;
  padding-top: 2% !important;
  padding-bottom: 2%!important;
  font-weight: bold !important;
  color: white !important;
}

#button-ouve{
  padding-top: 5%;
}

#button-register{
  vertical-align: middle;
  margin-top: -5px;
}

#chargAgenda{
  background-color: #b55370;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 99;
}

#rdv{
  position: absolute;
  z-index: 98;
  background-color: #FFEEED;
  border-radius: 10px ;
}

.rdv-conte{
  margin-left: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: black;
}

.rdv-width{
  width: 70%;
}

.rdv-input{
  float: left;
  margin: 5px 10px;
  border-radius: 5px;
  color: black;
}

.rdv-span{
  float: left;
  padding-top: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: black;
}


#rdv-cont{
  width: 100%;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-rdv{
  background-color: #5C2542;
  border: none;
  border-radius: 10px;
  padding-top: 5% !important;
  font-size: 5vw !important;
  font-weight: bold !important;
  color: white !important;
  margin-top: 30px;
}
#calandar{
  padding-right: 25% !important;
  padding-top: 2% !important;
  padding-bottom: 12%!important;
  color: white !important;
}

#book{
  padding-left: 25% !important;
  padding-top: 2% !important;
  padding-bottom: 12%!important;
  color: white !important;
}

#white{
  color: white;
}

.icons-admin{
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 1.5% !important;
  padding-bottom: 12%!important;
  color: white !important;
  font-size: 0.8em !important;
}

.titre{
  padding-bottom: 20px;
}

#titretd{
  padding-bottom: 15px;
}

.td{
  padding-left: 15px;
  font-size: 18px;
  padding-top: 20px;
}

.padtd{
  padding-left: 20%;
}

.td-service{
  padding-left: 14px;
  padding-top: 20px;
  font-size: 3vw;
}

.active{
  background-color: green;
}

.desactiver{
  background-color: red;
}