<ion-view view-title="NEEMAA">
  <ion-content class="content-partner-nfo">
    <div class="row">
      <div class="col">
        <img class="partner_picture" src={{partnerNfo.picture}} /><br>
        <i class="ion ion-star"></i>
        <i class="ion ion-star"></i>
        <i class="ion ion-star"></i>
        <i class="ion ion-star"></i>
        <i class="ion ion-star"></i>
      </div>
      <div class="col">
        <div class="partner_nfo">
          <h2>{{partnerNfo.name}}</h2>
          <p>
            Adresse :<br>
            {{partnerNfo.adress}}
          </p>

          <input class="" type="checkbox"> A domicile
          <input class="" type="checkbox"> En salon
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="partner-detail-picture" data-ng-repeat="photo in partnerNfo.img track by $index" src={{photo}}/>
      </div>
    </div>
    <h2 class="partner_nfo_title">Services :</h2>
    <ul class="list-partner-nfo">
      <li data-ng-repeat="service in partnerNfo.service">{{service}}</li>
    </ul>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">
      <button class="button button-large button-positive neemaa-button-footer" data-ng-click="user_profil(user_profil)">Réserver</button>
    </div>
  </div>
</ion-view>
