<ion-view view-title="NEEMAA">
  <ion-content class="content-login">
    <h1>Se connecter</h1>
    <form>
      <input type="email" class="text-form" data-ng-model="login.email" placeholder="Email" />
      <input type="password" class="text-form" data-ng-model="login.password" placeholder="Mot de passe" />
    </form>
    <p>
      Je veux <a ui-sref="app.register">m'inscrire</a>
    </p>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">
      <button class="button button-large button-positive neemaa-button-footer" data-ng-click="login(login)">CONFIRMER</button>
    </div>
  </div>
</ion-view>
