
/* Empty. Add your own CSS if you like */
@import url(https://fonts.googleapis.com/css?family=Philosopher);
@import url(https://fonts.googleapis.com/css?family=Overlock);

.title {
  color: #c7827a !important;
  font-weight: bold !important;
  font-size: 5vw !important;
  font-family: 'Philosopher', sans-serif;
}

body {
  font-family: 'Overlock', cursive;
}

.bar-stable {
    background-color: white !important;
}

a {
    color: #f0b4c5;
    text-decoration: underline;
}

.ion-navicon {
    color: #b04868 !important;
}

.content-register {
    padding: 5%;
    background-color: #b04868 !important;
}

.content-register h1 {
    color: white;
    font-size: 5vw;
}

.content-register form p {
    color: white;
}

.content-login {
  padding: 5%;
  background-color: #b04868 !important;
}

.content-login h1 {
  color: white;
  font-size: 5vw;
}

.content-login p {
  color: white;
}

.text-form {
    width: 100%;
    margin-bottom: 3%;
    padding: 5% !important;
    border-radius: 5px;
}

.text-form-select {
    width: 100%;
    margin-bottom: 3%;
    padding: 2% !important;
    border-radius: 5px;
}

.neemaa-button-footer {
    background-color: #5c2542 !important;
    color: white;
    width: 80%;
    font-size: 5vw !important;
    font-weight: bold;
    height: 100%;
    display: block;
    margin: auto;
}

.bar-footer {
    background-color: #b04868 !important;
    text-align: center !important;
    padding-bottom: 70px !important;
    padding-top: 0 !important;
    background-position: 0 -1px;
}

.content-search {
    text-align: center;
    padding: 5%;
    background-color: #b04868 !important;
}

.content-search p {
  color: white;
  text-align: left;
}

.content-search h1 {
    margin-top: 25%;
    color: white;
    font-size: 5vw;
}

.content-search h2 {
    margin-bottom: 25%;
    color: white;
    font-size: 4vw;
}

.content-list {
    padding-top: 5%;
    text-align: center;
    background-color: #b04868 !important;
}

.content-list p {
    color: white;
    font-size: 4vw;
}
.my-list {

  margin: 0;
}

.my-list a {
  padding: 5%;
  color: white;
  background-color: #b04868 !important;
}

.list-left {
  text-align: left !important;
}

.list-right {
  text-align: right !important;
}

.list-title {
  color: #e8a9bb !important;
}

.list-service {

}

.star-color {
  color: yellow;
}

.content-user-profil {
  text-align: center;
  padding: 5%;
  background-color: #b04868 !important;
}

.profil_picture {
  padding-top: 13%;
  width: 100% !important;
  text-align: left !important;
  border-radius: 50%;
}

.profil-text-form {
  width: 100%;
  margin-bottom: 3%;
  padding: 5% !important;
  border-radius: 5px;
}

.white-color {
  color: white;
}

.content-partner-nfo {
  text-align: center;
  padding: 5%;
  background-color: #b04868 !important;
}

.partner_nfo {
  padding-top: 20%;
  color: white;
  text-align: left;
}

.partner_nfo h2 {
  color: white;
  font-size: 5vw;
}

.partner_picture {
  padding-top: 13%;
  width: 60% !important;
  text-align: left !important;
  border-radius: 50%;
}

.partner-detail-picture {
  width: 17%;
}

.partner_nfo_title {
  color: #f0b4c5;
  font-size: 4vw;
  text-align: left;
}

.list-partner-nfo {
  color: white;
  text-align: left;
}

h4 {
  font-size: 3vw;
  text-align: left;
  color: white;
  text-decoration: underline;
}

.neemaa-partner-button-footer {
  background-color: #f4b9c9 !important;
  color: white;
  width: 80%;
  font-size: 5vw !important;
  font-weight: bold;
  height: 100%;
}

.content-partner-profil {
  text-align: center;
  padding: 5%;
  background-color: #ffeeed !important;
}

.partner_bar_footer {
  background-color: #ffeeed !important;
}

h3 {
  font-size: 4vw;
  text-align: left;
}

.partner-profil-form-input{
  width: 100%;
  max-height: 25px;
}
.margin-auto{
  margin: auto;
}
.partner-profil-check {
  background-color: #FFEEED;
    border: 0;
    padding-left: 50px;
}
.window-info{
  margin: auto;
}
.information-text{
  margin-bottom: 5px;
}

.btn-loading-text{
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-color: transparent;
    background-color: #fff;
    color: #444;
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    min-width: 40px;
    min-height: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
}
.register-check {
  background-color: #B04868;
  border: 0;
  padding-left: 50px;
  color : #fff;
  padding-top: 10px;
}
.register-check div.checkbox{
  padding-left: 0;
  padding-top: 5px;
}
.register-check div.item-content{
  white-space: normal;
  font-size: 14px;
}
.custom-button{
  bottom: 0;
    position: absolute;
    width: 100%;
}
.scroll{
  height: 100%;
}
.login-para{
  float:right;
}
.login-container{
  margin-top: 10%;
}
