<ion-view view-title="NEEMAA" class="content-user-profil">
  <ion-content class="content-user-profil">
    <form>
      <div class="row">
        <div class="col">
          <img class="profil_picture" src="https://pixabay.com/static/uploads/photo/2014/04/02/14/07/barber-shop-306199_960_720.png" /><br>
          <input type="radio" class="register-check" data-ng-model="user_profil.gender" value="female"><span class="white-color"> Femme</span><br>
          <input type="radio" data-ng-model="user_profil.gender" value="male"><span class="white-color"> Homme</span><br>
        </div>
        <div class="col">
          <input type="text" data-ng-model="user_profil.last_name" class="profil-text-form" placeholder="Nom">
          <input type="text" data-ng-model="user_profil.first_name" class="profil-text-form" placeholder="Prénom">
          <input type="email" data-ng-model="user_profil.email" class="profil-text-form" placeholder="Email" >
          <input type="tel" data-ng-model="user_profil.tel" class="profil-text-form" placeholder="mobile" >
          <input type="text" data-ng-model="user_profil.adress" class="profil-text-form" placeholder="Adresse" >
          <input type="text" data-ng-model="user_profil.cp" class="profil-text-form" placeholder="Code Postal" >
          <input type="text" data-ng-model="user_profil.birthdate" class="profil-text-form" placeholder="date de naissance" >
          <a ui-sref="app.userProfil">Changer de mot de passe</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select data-ng-model="user_profil.SkinType" class="text-form-select">
            <option value="" disabled>Type de peau</option>
            <option data-ng-repeat="skin in user_profile.SkinType">{{skin}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select data-ng-model="user_profil.SkinColor" class="text-form-select">
            <option value="" selected disabled>Couleur de peau</option>
            <option data-ng-repeat="color in user_profile.SkinColor" style="background-color: {{color}};"></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select data-ng-model="user_profil.HairType" class="text-form-select">
            <option value="" selected disabled>Type de cheveux</option>
            <option data-ng-repeat="hairType in user_profile.HairType">{{hairType}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select data-ng-model="user_profil.HairColor" class="text-form-select">
            <option value="" selected disabled>Couleur de cheveux</option>
            <option data-ng-repeat="hairColor in user_profile.HairColor">{{hairColor}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="radio" data-ng-model="user_profil.type" /><span class="white-color">Je veux m'inscrire comme NeemStyler (prestataire de service)</span>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col">

      <button class="button button-large button-positive neemaa-button-footer" data-ng-click="save_profil(user_profil)">Enregistrer</button>
    </div>
  </div>
  <div class="profil_clear">

  </ion-content>
</ion-view>
